---
import FilmCard from "@/components/ui/FilmCard.astro";

export interface Props {
  sliderList: FilmSliderItem[];
}

const { sliderList = [] } = Astro.props;
---

{
  sliderList?.length > 0 && (
    <section class="flex flex-col gap-4">
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-2xl font-bold flex items-center gap-3 text-white">
          <span class="w-1.5 h-8 bg-violet-500 rounded-full" />
          Film Unggulan
        </h2>
      </div>
      <div class="flex gap-6 py-4 overflow-x-auto hide-scrollbar">
        {sliderList.map((item: FilmSliderItem) => (
          <FilmCard
            item={item}
            variant="violet"
            showBadges={false}
            scorePosition="none"
            overlay="hover"
            subtitle="none"
          />
        ))}
      </div>
    </section>
  )
}
