---
import FilmCard from "@/components/ui/FilmCard.astro";

export interface Props {
  serialtvList: FilmSerialTvItem[];
}

const { serialtvList = [] } = Astro.props;
---

{
  serialtvList?.length > 0 && (
    <section class="flex flex-col gap-4">
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-2xl font-bold flex items-center gap-3 text-white">
          <span class="w-1.5 h-8 bg-emerald-500 rounded-full" />
          Serial TV
        </h2>
      </div>
      <div class="flex gap-6 py-4 overflow-x-auto hide-scrollbar">
        {serialtvList.map((item: FilmSerialTvItem) => (
          <FilmCard
            item={item}
            variant="emerald"
            showBadges={false}
            scorePosition="bottom-right"
            showEpisodeBadge={true}
            subtitle="none"
          />
        ))}
      </div>
    </section>
  )
}
