---
import FilmCard from "@/components/ui/FilmCard.astro";

export interface Props {
  popularList: FilmPopularItem[];
}

const { popularList = [] } = Astro.props;
---

{
  popularList?.length > 0 && (
    <section class="flex flex-col gap-4">
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-2xl font-bold flex items-center gap-3 text-white">
          <span class="w-1.5 h-8 bg-rose-500 rounded-full" />
          Populer
        </h2>
      </div>
      <div class="flex gap-6 py-4 overflow-x-auto hide-scrollbar">
        {popularList.map((item: FilmPopularItem) => (
          <FilmCard
            item={item}
            variant="rose"
            showBadges={true}
            scorePosition="bottom-right"
            subtitle="episode"
          />
        ))}
      </div>
    </section>
  )
}
